@model SocialNetwork.Models.Profile

<div class="cover-pic">
    
</div>
<div class="profile-header">
    <img class="profile-pic" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Brad_Pitt_Fury_2014.jpg" alt="" />
    <div class="profile-display">
        @Model.Display
    </div>
</div>

<div class="row" style="clear: both;">
    <div class="col-xs-3">

    </div>

    <div class="col-xs-9">
        Lorem ipsum
    </div>
</div>