@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 jumbotron">
        <h1>@ViewData["ApplicationName"]</h1>
        <p class="lead">@ViewData["ApplicationName"] vous permet de rester en contact avec les personnes qui vous sont chères.</p>
    </div>

    <div class="col-md-6">
        @Html.Partial("_RegisterPartial")
    </div>
</div>
